# Copia a .env y cambia el RCON.
SRCDS_HOSTNAME=Los 8 de Mercy
SRCDS_MAXPLAYERS=8
SRCDS_STARTMAP=c8m1_apartment
SRCDS_GAMEMODE=coop
SRCDS_PORT=27015
SRCDS_REGION=255
SRCDS_RCONPW=cambia-esto-ya
SRCDS_PW=
SRCDS_STEAMGROUP=0
FORCE_ADDON_INSTALL=0
